 .contact_container{
    width: 100%;
    height: 780px;
    background-color: rebeccapurple;
    display: block;
    overflow: hidden;
}

.contact_main{
    width: 90%;
    height: 700px;
    background-color: red;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: "PT Sans",sans-serif;
}

.contact_text{
    width: 50%;
    height: 100%;
    background-color: wheat;
}

.contact_icons{
    width: 50px;
    height: 90px;
}

.icons {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 30px;
  }

  .icons img{
    width: 30px;
    height: 30px
  }
  
  .icons h3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .icons img {
    margin-right: 10px; 
  }
  
  .icons h3, .icons img{
    margin-top: 5px;
  }
  

.contact_text h1{
    font-size: 45px;
}

.contact_text p {
    margin-top: 40px;
    font-size: 22px;
}

.contact_form{
    width: 50%;
    height: 100%;
    background-color: lightblue;
}

.form_group{
    display: block;
    width: 90%;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    
}
label{
    display: block;
    margin-bottom: 20px;
}


.form_group input{
    width: 90%;
    padding: 16px;
}

@media (max-width:800px){
    .contact_main{
        display: block;
        flex-direction: column;
        height: auto;
    }

    .contact_text{
        width: 100%;
    }

    .contact_text h1{
        font-size: 30px;
    }

    .contact_text p{
        font-size: 18px;
    }

    .icons img{
        width: 25px;
        height: 25px;
    }

    .contact_form{
        width: 100%;
        height: 400px;
    }
} 

