.contact_container {
    width: 100%;
    padding: 20px;
    height: 790px;
    box-sizing: border-box; 
    font-family: "PT Sans",sans-serif;
    background-color: #b1c4ed;
}

.contact_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact_text h1{
    font-size: 45px;
}

.contact_text p {
    margin-top: 40px;
    font-size: 22px;
}

.contact_text, .contact_form {
    flex: 1; 
    min-width: 300px; 
}

.icons{
    margin-top: 30px;
}

.icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.icons h3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact_form {
    padding: 20px;
    box-sizing: border-box;
}

.form_group input, .form_group textarea {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 5px 0; 
    box-sizing: border-box;
    font-size: 17px;
}

.form_group label{
    font-size: 17px;
}

.contact_btn_submit{
    background-color: #647daf;
    border: none;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 20px;
}

.contact_btn_submit:hover{
    cursor: pointer;
}

@media (max-width: 800px) {
    .contact_content {
        flex-direction: column;
    }

    .contact_container{
        height: auto;
    }

    .form_group{
        text-align: center;
    }

    .contact_text h1{
        font-size: 40px;
    }
    
    .contact_text p {
        font-size: 20px;
    }

    
}

