@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=PT+Sans:wght@400;700&display=swap');

.hero_container{
    width: 100%;
    height: 730px;
    overflow: hidden;
    background-color: #6D98BA;
}

.hero_main{
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 35px;
    font-family: 'PT Sans',sans-serif;
}

.hero_text{
    width: 50%;
    height: 100%;
}

.hero_text h2{
    font-size: 40px;
}

.hero_text h1{
    font-size: 45px;
}

.hero_text h3{
    font-size: 22px;
}

.hero_text_content{
    width: 100%;
    color: white;
    margin-top: 200px;
}

.hero_image{
    width: 50%;
    height: 100%;
}

.hero_image_shadow{
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.hero_shoe_image{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.hero_img{
    width: 41vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: float 3s ease-out infinite;
}

@keyframes float {
    50% {
      transform: translateY(calc(2vw + 1vh)); 
    }
}



.shadow {
    position: absolute;
    height: 1vw;
    width: 10vw;
    bottom: 5vw;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    filter: blur(4px);
    animation: shadow 3s ease-out infinite; 
  }
  
  @keyframes shadow {
    0% {
      width: 20vw;
    }
    50% {
      width:25vw;
    }
    100% {
      width: 20vw;  
    }
  }

.rent_btn{
    border: none;
    padding: 10px;
    font-size: 23px;
    font-family: 'PT Sans',sans-serif;
    border-radius: 15px;
}

.hero_text h1, .hero_text h3, .hero_text button{
    margin-top: 30px;
}


@media (max-width:800px){
    .hero_image{
        display: none;
    }

    .hero_text{
        width: 100%;
        text-align: center;
        
    }

    .hero_text h2{
        margin-top: 170px;
        font-size: 30px;
    }

    .hero_text h1{
        font-size: 50px;
    }

    .hero_text h3{
        font-size: 18px;
    }

    .shadow {
        width: 15vw; /* Adjust width as the shoe image grows */
        bottom: 10vw; /* Adjust bottom positioning if necessary */
    }

    

    

}

