/*importing font family*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap'); 

.howitworks_container{
    width: 100%;
    height: auto;
    overflow: auto;
}

.scroll_section_outer{
    overflow: hidden;
  }
  
  .scroll_section_inner{
    height: 100vh;
    width: 750vw;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .scroll_section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
  }

  .scroll_text1{
    margin-left: 50px;
    font-size: 80px;
   
  }
  .scroll_section_heading{
    font-size: 50px;
  }

  .scroll_section_subheading{
    font-size: 25px;
    text-align: center;
  }

  .howitworks_image{
    width: 400px;
    height: 400px;
  }

  @media (max-width: 800px) {
   
    .scroll_text1 {
        font-size: 40px; 
    }

    .scroll_section_heading {
        font-size: 4vw; 
    }

    .scroll_section_subheading {
        font-size: 2vw; 
    }

    .howitworks_image{
      width: 200px;
      height: 200px;
    }

    
}






