.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "PT Sans",sans-serif;
    font-size: 20px;
}
  

.navbar_icon, .navbar_search_icon {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.profile_icon{
  width: 21px;
}
  
.navbar_search_icon {
    display: none;
}
  
@media screen and (max-width: 768px) {
    .navbar {
      align-items: flex-start;
    }

    .logo h3{
        margin-top: 7px;
    }
  
    .search-icons {
      order: 2;
      margin-top: 10px;
    }
  
    .search-input {
      display: none;
    }
  
    .navbar_search_icon {
      display: block;
    }
}
  