.nikeAirForce_container {
    width: 100%;
    height: auto;
    font-family: "PT Sans",sans-serif;
}

.nikeAirForce_main {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nike_images {
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.nike_short_images {
    width: calc(50% - 8px);
    height: auto;
    margin: 0 4px;
    margin-bottom: 10px;
}

.nike_short_images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nike_description {
    width: 30%;
    height: auto;
}

.nike_description p{
    margin-top: 15px;
    font-size: 18px;
}

.nike_description hr{
    margin-top: 10px;
}

.nike_size{
    margin-top: 10px;
}

.size_container{
    margin-top: 20px;
}

.fav_btn{
    margin-top: 10px;
}

.rent_btn{
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 30px;
}

.rent_btn button{
    margin-top: 20px;
}

@media (max-width: 800px) {
    .nikeAirForce_main {
        width: 100%;
        flex-direction: column;
    }

    .nike_images{
        width: 100%;
    }

    .nike_short_images {
        width: 45%; 
        height: auto;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .nike_short_images img{
        width: 100%;
        height: auto;
    }

    .nike_description{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}
