.size_container{
    width: 550px;
    height: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.size_container button{
    width: 150px;
    padding: 8px;
    font-size: 20px;
    margin: 10px;
}

.size_container button:hover{
    cursor: pointer;
}

@media(max-width:800px){
    .size_container{
        justify-content: space-around;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .size_container button{
        width: 160px;
    }

    
}