.sneaker_display_container {
    width: 80%;
    display: flex;
    justify-content: space-between; 
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.sneaker_display_main {
    width: 23%; 
    margin-bottom: 20px; 
    margin-right: 10px;
}

.sneaker_display_main img {
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

@media(max-width:800px){
    .sneaker_display_main {
        width: 46%; 
        margin-left: 1px;
    }

    
}
